<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authorize | Termicoder</title>
</head>
<body>
    <script>
        const copyToClipboard = () => {
        const el = document.getElementById('token');
        el.disabled=false;
        el.select();
        document.execCommand('copy');
        const bt = document.getElementById('copy');
        bt.textContent = 'Copied!';
        el.disabled=true;
        };
    </script>
    <button onclick="copyToClipboard()" id='copy'>
        Copy
    </button>
    and paste &lt;ctrl+shift+v&gt; this in the terminal 
    <br/>
    <textarea id="token" readonly=true disabled=true autofocus=true cols=50 rows=15>
{{response}}
    </textarea>
    <br/>
</body>
</html>