<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ERROR! | Termicoder</title>
</head>
<body>
    Sorry, CodeChef responded with an error
    <br/>
    <pre>
{{response}}
    </pre>
    <br/>
    Please try again.
    If problem persists, reach us out through <a href="https://github.com/termicoder/termicoder/issues/">GitHub issues</a> or <a href="https://termicoder.zulipchat.com">Zulip</a>
</body>
</html>